[submodule "turtle_ws/src/BehaviorTree.CPP"]
	path = BehaviorTree.CPP
	url = git@github.com:BehaviorTree/BehaviorTree.CPP.git
[submodule "turtle_ws/src/nrg_behaviors"]
	path = nrg_behaviors
	url = git@github.com:UTNuclearRobotics/nrg_behaviors.git
[submodule "turtle_ws/src/dynamic_selector"]
	path = dynamic_selector
	url = git@github.com:UTNuclearRobotics/dynamic_selector.git
[submodule "turtle_ws/src/ros_tutorials"]
	path = ros_tutorials
	url = git@github.com:sheenanUT/ros_tutorials.git
	branch = humble
