[submodule "BehaviorTree.CPP"]
	path = btcpp/BehaviorTree.CPP
	url = git@github.com:BehaviorTree/BehaviorTree.CPP.git
[submodule "turtle_ws/src/behaviortree_ros2"]
	path = turtle_ws/src/behaviortree_ros2
	url = git@github.com:BehaviorTree/BehaviorTree.ROS2.git
	branch = humble
